@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

body{
    font-family: "Poppins", sans-serif;
    background: radial-gradient( #b7d0ef, #3282c3);
    margin: 5;
  }
  a{
    text-decoration: none;
    color: white;
  }
  .testo{
    
    padding: 0;
    font-size: 60;
    text-align: center;
    color: azure;
  }

  .primdiv{
    padding-left: 400px;
    padding-top: 250px;
    float: left;
  }
  .secondiv{ 
    padding-right: 400px;
    padding-top: 250px;
    float: right;
  }
  .iconamenu{
    position: absolute; 
  }