@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
  }

body{
    background: linear-gradient(rgb(82, 135, 210)  , #ffffff );
    margin: 5;
}



  .toprecensione{
    padding: 20px;  
    padding-left: 200px;
    float: left;
  }

  .iconamenu{
    position: absolute  
  }
  a{
    text-decoration: none;
    font-size: 15;
  }
  .titolo{
    float:left;
    padding-top: 160;
    
    font-size: 50;
    font-weight: bolder;
    padding-left: 100px;
  }
  .sottotitolo{
    padding-left: 100px;
    float:left;
    padding-top: 30;
    width: 40%;
    font-size: 30;
    font-weight: bolder;
  }

  .recensione{
    float: left;
    padding-top: 20px;
    text-align: center;
    font-size: 20;
    background:linear-gradient(#ffffff , #2E8BC0 );
    border:8px solid white; 
    border-top: 0px;
    border-bottom: 0px;
  }

 
  