@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  }


  body{
    background: linear-gradient( #2eb4c0, #2068a3);
  }

  .top{
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, #2E8BC0, #0C2D48);
    height: 20%;
    margin-left: 10%;

  }

  #top_list{
    text-align: center;
    font-size: 20;
  }

  #top_list li{
  padding: 20px;
  display: inline-block;
}

#titolo{
  padding-top: 20px;
  text-align: center;
  font-size: 60;
  font-weight: bold;
}

#side_bar{
  text-align: center;
  width: 10%;
  background-color: #222;
  height: 1652px;
  position: absolute;
  float: left;
  box-shadow: 0 0 10px 4px rgb(0 0 0 / 30%);
  text-decoration: none;
}

#titolorec{

}

#side_bar li{
  font-weight: bold;
  color: white;
  padding-top: 30px;
  cursor: pointer;
}

#side_bar p{
  padding-top: 5px;

}


#side_bar li:hover{
  border-left: 5px solid #145DA0;
  padding-right: 5px;

}

table{

  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-top: 50px;
  position: relative;
}



table:hover{

}

.link{

  text-decoration: none;

}

.table{

}

.crociate{
  position: absolute;

}

.sfondo{
  background: linear-gradient(#5141cb, #babeec);

}

.catalogo{


}

.catalogo img{
  width: 350px;
  height: 450px;
}

.catalogo td{
  padding: 10px;
}
.catalogo td:hover{
  transform: scale(1.05);
}



.catalogo td{
  transition: transform .15s;
  padding: 10px;
}

a{
  text-decoration: none;
  color: white;
}

/*

 href="https://www.instagram.com/sonny_veronese/"


alink="black";
link="black";
bgcolor="#d6bcd6";
vlink="black";
*/
